footer{

    .container{
        height: 100%;
        width: 1190px;
        margin: auto;
    }

    // Parte alta footer
    .footer-links{
        height: 320px;
        background-color: #ececec;

        .container{
            padding: 40px 10px;
            @include display_flex(space-between, center);

            .column{
                height: 100%;
                width: 25%;
                padding: 0 15px;

                ul{
                    list-style: none;

                    li{
                        font-size: 13px;
                        font-weight: 300;
                        margin: 10px 0;
                    }
                    li:nth-child(1){
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                .social-icons{
                    width: 90%;
                    margin-top: 20px;
                    @include display_flex(space-between, center);
                }
                .social-icons .logo-container{
                    width: 32px;
                    height: 32px;
                    @include display_flex(center, center);
                    font-size: 22px;
                    color: white;
                }
                .ig-logo{
                    background-color: $ig-color;
                }
                .fb-logo{
                    background-color: $fb-color;
                }
                .tw-logo{
                    background-color: $tw-color;
                }
                .yt-logo{
                    background-color: $yt-color;
                }
                .pi-logo{
                    background-color: $pi-color;
                }
                .rs-logo{
                    background-color: $rs-color;
                }
            }
        }
    }

    // Parte bassa footer
    .copyright{
        height: 90px;
        background-color: #1e1e1e;

        .container{
            padding: 10px 20px;
            @include display_flex(space-between, center);

            // Left Footer
            .left-footer{
                height: 100%;
                width: 30%;
                @include display_flex(space-between, center);

            }

            // Right Footer
            .right-footer{
                height: 100%;
                width: 70%;
                @include display_flex(flex-end, center);

                span{
                    color: $grey_text;
                    font-size: 12px;
                    margin: 0 10px;
                }

                span:nth-last-child(1){
                    color: white;
                }
            }


        }
    }


}
