header{
    height: 95px;
    background-color: $main_dark_color;

    .container{
        width: 1200px;
        height: 100%;
        margin: auto;
        padding: 0 15px;

        .top-bar{
            height: 45px;
            @include display_flex(flex-end, center);
            .contacts{
                width: 460px;
                @include display_flex(space-around, center);
                list-style: none;
                li{
                    i{
                        color: $icon_color;
                        margin-right: 5px;
                        font-size: 14px;
                    }
                    span{
                        color: $grey_text;
                        font-size: $navbar_font_size;
                        cursor: pointer;
                        &:hover{
                            color: white;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .bottom-bar{
            height: 50px;
            @include display_flex(flex-start, center);

            .logo-container{
                max-width: 120px;
                height: 100%;
                padding: 8px 15px 8px 0;

                img{
                    max-width: 90px;
                }
            }

            .navbar{
                height: 100%;
                list-style: none;
                @include display_flex(space-between, center);

                // li navbar
                li{
                    height: 100%;
                    color: white;
                    padding: 13px 25px 15px 25px;
                    cursor: pointer;
                    position: relative;

                    // Ul sottomenù
                    ul{
                        width: 220px;
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        list-style: none;
                        // li sottomenù
                        li{
                            width: 100%;
                            padding: 13px 20px;
                            background-color: white;
                            color: black;
                            font-size: 14px;
                            font-weight: 300;
                            &:hover{
                                background-color: #e6e6e6;
                            }
                        }
                    }
                    // Hover su li menu principale
                    &:hover{
                        color: black;
                        background-color: white;
                        ul{
                            display: block;
                        }
                    }
                    span{
                        font-size: 14px;
                    }
                    i{
                        font-size: 10px;
                        color: $grey_text;
                    }
                }
            }





        }
    }
}
