main{

    .product-download{
        height: 460px;
        background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
        background-position: center;

        .container{
            padding-top: 20px;
            @include display_flex(space-between, center);

            .img-credits{
                width: 290px;
                height: 100%;
                padding-bottom: 20px;
                @include display_flex(center, flex-end);

                span{
                    font-size: 11px;
                    color: #ddd;
                }
            }

            .download{
                height: 100%;
                width: 510px;
                padding: 30px 0;
                color: white;

                h1{
                    font-size: 28px;
                    font-weight: normal;
                }

                h2{
                    font-size: 22px;
                    font-weight: normal;
                    margin: 15px 0;
                }

                ul{
                    list-style: none;
                    margin: 35px 0;

                    li{
                        margin: 15px 0;
                        i{
                            font-size: 14px;
                            color: grey;
                        }
                        span{

                        }
                    }
                }
                button{
                    width: 205px;
                    height: 55px;
                    padding: 10px;
                    @include display_flex(space-between, flex-end);
                    background-color: #666666;
                    border: none;
                    color: white;

                    .link{
                        height: 100%;
                        width: 75%;
                        text-align: left;
                        border-right: 1px solid white;
                    }

                    .download-icon{
                        height: 100%;
                        width: 25%;
                        @include display_flex(center, center);
                        font-size: 26px;
                    }
                }

            }

            .buy{
                height: 100%;
                width: 400px;
                background-color: rgba(0,0,0,0.9);
                padding: 20px 10px 20px 20px;

                .price-infos{
                    height: 150px;
                    @include display_flex(space-between, flex-start);

                    .text-section{
                        height: 100%;
                        padding-top: 25px;
                        @include display_flex_column(space-around, flex-start);
                        .price{
                            font-size: 24px;
                            color: white;
                        }

                        .download-span{
                            font-size: 14px;
                            padding-bottom: 10px;
                            color: grey;
                        }

                        button{
                            width: 150px;
                            height: 35px;
                            color: white;
                            font-size: 16px;
                            background-color: #009cff;
                            border: none;
                        }
                    }
                }

                .offer-info{
                    width: 350px;
                    height: 90px;
                    margin-top: 30px;
                    padding: 10px;
                    padding-left: 15px;
                    background-color: #f6f6f6;
                    @include display_flex_column(space-around, flex-start);
                    h4{
                        font-size: 18px;
                    }
                    p{
                        font-size: 13px;
                        a{
                            color:#009cff;
                        }
                    }
                }

            }
        }
    }

}
