$main_dark_color: rgba(0,0,0, 0.8);
$footer_links_color: rgba(100,255,1, 0.5);
$links-color: #121212;
$footer_copyrights_color: rgba(50,10,255, 0.5);
$grey_text: #989898;
$icon_color: #009cff;
$navbar_font_size: 12px;
$logo_url: "https://www.painterartist.com/static/ptr/images/logo_painter.png";

$ig-color: #e4405f;
$fb-color: #3b5998;
$tw-color: #1da1f2;
$yt-color: #cd201f;
$pi-color: #bd081c;
$rs-color: #ff8d00;
